extends html

snippet load
{% load ${1} %}
endsnippet

snippet trans
{% trans '${1}' %}
endsnippet

snippet inc
{% include '${1}' %}
endsnippet

snippet for
{% for ${1} in ${2} %}
    ${3}
{% endfor %}
endsnippet
