extends html

snippet load "load" w
{% load ${1} %}
endsnippet

snippet trans "trans" w
{% trans '${1}' %}
endsnippet

snippet inc "include" w
{% include '${1}' %}
endsnippet

snippet for "for" w
{% for ${1} in ${2} %}
    ${3}
{% endfor %}
endsnippet

snippet block "block" w
{% block ${1} %}
    ${2}
{% endblock $1 %}
endsnippet

snippet ext "extends" w
{% extends '${1}' %}
endsnippet

snippet url "url" w
{% url '${1}' ${2}%}
endsnippet
