snippet div
<div>
   ${1}
</div>
endsnippet

snippet ul
<ul>
   <li>${1}</li>
</ul>
endsnippet

snippet li
<li>${1}</li>
endsnippet

snippet trans
{% trans '${1}' %}
endsnippet

snippet block
{% block ${1:name} %}
   ${2}
{% endblock $1 %}
endsnippet

