snippet i18 "I18n" w
{I18n.t("${1}")}
endsnippet

snippet comp "Component" w
/*
 * Project: ${1}
 * Module: ${2}
 */
import React from "react"

export default class ${3} extends React.Component {
  render(){
    return (${4})
  }
}
endsnippet

snippet sbu "Header comment" w
/*
 * Project: ${1}
 * Module: ${2}
 */

${3}
endsnippet
