snippet sbu
#!/usr/bin/env python
# encoding: utf-8
# vim:ft=python.django:
# --------------------------------------------------------------------------


endsnippet

snippet ipdb
import ipdb; ipdb.set_trace()
endsnippet

snippet pudb
import pudb; pu.db
endsnippet

snippet cm "cm"
"""${1}"""${2}
endsnippet
